* {
    margin: 0;
    padding: 0;
}
.bg{
    background-color: #219EBC;
    padding: 100px;
}

.profile-img{
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: CENTER;
}

.profile{
    height: auto;
    width: 80%;
    border-radius: 50%;
}

@media (max-width: 992px) {
    .profile-img {
        flex-direction: column; /* Stacks content vertically */
    }

    .profile {
        width: 50%; /* Smaller width on mobile */
    }
}
h1 {
    font-size: xx-large;
    color: #FFB703;
}

p.hero{
    font-size: calc(0.8rem + 1.5vw);;
    color: black;
    font-weight: 400;
    
}

.custom-btn {
    background-color: #023047; /* Custom background color */
    color: white; /* Text color */
    border: 2px solid #023047; /* Border color */
}

.custom-btn:hover {
    background-color: #8ECAE6; /* Hover background color */
    color: #fff; /* Hover text color */
}

.custom-btn-1 {
    background-color: #6c757d; /* Custom background color */
    color: white; /* Text color */
    border: 2px solid #6c757d; /* Border color */
}

.custom-btn-1:hover {
    background-color: #8ECAE6; /* Hover background color */
    color: #fff; /* Hover text color */
}

h2{
    display: flex;
    text-align: center;
}

.aboutme{
    font-size: larger;
}

.flex-container {
    display: flex;
    height: 100vh;
    justify-content: left;
    align-items: center;
    justify-items: center;
}